* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #dcdcdc;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #d4213d;
}

a:hover {
    color: #000000;
}

h3 {
    font-weight: 300;
}

.contacts {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    text-align: right;
}

.contacts .contacts-icons {
  display: flex;
  justify-content: space-between;
}

.contacts .contacts-icons a {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 6px;
}

.contacts .contacts-social a,
.contacts .contacts-social a {
  text-align: left;
  filter: grayscale(1);
}

.contacts .contacts-social a:hover,
.contacts .contacts-social a:hover {
  filter: grayscale(0);
}

.contacts p {
    font-size: 24px;
    color: #000000;
    margin: 0;
    line-height: 34px;
}

.contacts p:last-of-type {
    font-size: 19px;
    color: #d4213d;
    margin-top: 5px;
}

.head-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-nav {
    background-color: #ff0000;
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #000000;
}

.main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.main-nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
}

.main-nav li:hover > a {
    /*background-color: #d4213d;*/
    color: #dcdcdc;
    -webkit-box-shadow: inset 0 -3px 0 0 #000000;
    box-shadow: inset 0 -3px 0 0 #000000;
    -webkit-transition: box-shadow 0.3s linear;
    -webkit-transition: -webkit-box-shadow 0.3s linear;
    transition: -webkit-box-shadow 0.3s linear;
    transition: box-shadow 0.3s linear;
    transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}

.main-nav .menu-about-us {
    position: relative;
}

.menu-about-us .drop-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #ff0000;
    color: #dcdcdc;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-top: 2px solid #000000;
    z-index: 10;
}

.menu-about-us:hover .drop-menu {
    display: block;
}

.drop-menu li {
    width: 100%;
}

.drop-menu a {
    display: inline-block;
    line-height: 20px;
    height: 100%;
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    font-size: 15px;
    white-space: nowrap;
}

.drop-menu li:hover a {
    color: #dcdcdc;
    background-color: #ff0000;
}

.main-nav .active > a,
.main-nav .active > a:active {
    color: #dcdcdc;
    -webkit-box-shadow: inset 0 -3px 0 0 #000000;
    box-shadow: inset 0 -3px 0 0 #000000;
}

.drop-menu .active > a,
.drop-menu .active > a:active {
    color: #ffffff;
    background-color: #ff0000;
    -webkit-box-shadow: inset 0 -3px 0 0 #000000;
    box-shadow: inset 0 -3px 0 0 #000000;
}

.search-block {
    padding: 10px;
}

.main-nav input[type="search"] {
    height: 40px;
    border: none;
    padding: 1px 12px;
    min-width: 200px;
}

.search input[type=search]:focus {
    outline: none;
}

.search:hover::before {
    cursor: pointer;
}

.map {
    background-image: url("../img/map.png");
    width: 1200px;
    height: 300px;
    border-top: 3px solid #ff0000;
}

.map-contacts {
    background-image: url("../img/map-contacts.jpg");
    width: 1200px;
    height: 720px;
    border-top: 3px solid #ff0000;
}

.slider {
    width: 100%;
    height: 350px;
    margin-bottom: 24px;
    -webkit-animation-name: slider;
    animation-name: slider;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

@-webkit-keyframes slider {
    0% {
        background: url("../img/sli1.jpg") no-repeat;
    }

    33% {
        background: url("../img/sli2.jpg") no-repeat;
    }

    66% {
        background: url("../img/sli3.jpg") no-repeat;
    }

    100% {
        background: url("../img/sli1.jpg") no-repeat;
    }
}

@keyframes slider {
    0% {
        background: url("../img/sli1.jpg") no-repeat;
    }

    33% {
        background: url("../img/sli2.jpg") no-repeat;
    }

    66% {
        background: url("../img/sli3.jpg") no-repeat;
    }

    100% {
        background: url("../img/sli1.jpg") no-repeat;
    }
}

hr {
    border: none;
    background-color: #ff0000;
    height: 1px;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 24px;
}

.info-block {
    width: 48%;
    line-height: 30px;
}

.info-block h3 {
    color: #000000;
}

h2 {
    font-weight: 300;
}

.info-block .sign {
    margin-left: 60%;
}

.news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.news-block:not(:nth-child(4n)) {
    margin-right: 32px;
}

.news-block {
    width: 23%;
    border-top: 5px solid #ff0000;
    -webkit-box-shadow: 0 -5px 0 0 #ffffff;
    box-shadow: 0 -5px 0 0 #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.news-block p {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.event-block:not(:nth-child(4n)) {
    margin-right: 32px;
}

.event-block {
    width: 23%;
    min-height: 240px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.event-block p {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.contact-us {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #ff0000;
}

.contact-block {
    width: 33.3%;
    min-height: 140px;
}

.main-adress {
    min-height: 140px;
    padding-top: 10px;
    padding-left: 20px;
}

.main-phones {
    min-height: 140px;
    padding-top: 12px;
}

.main-phones p:last-of-type {
    color: #d4213d;
}

.social-btns {
    min-height: 140px;
    padding-top: 47px;
    padding-right: 20px;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 69px;
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
}

.footer-left {
    border: 1px solid #000000;
    margin: 6px 3px 3px 150px;
}

.footer-right {
    margin: 8px 150px 0 3px;
}

.footer-right img {
    border: 1px solid #000000;
}

.copyright {
    padding: 10px;
    font-size: 14px;
    margin: auto;
}

.fri-com {
    font-size: 12px;
    text-align: right;
    background-color: inherit;
    color: #000000;
    font-weight: 500;
}

.adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.adress .main-adress {
    min-height: 140px;
    line-height: 16px;
    padding-left: 20px;
}

.adress h2 {
    line-height: 30px;
    color: #d4213d;
}

.adress .main-phones {
    min-height: 140px;
    line-height: 16px;
}

.adress .main-phones p:last-of-type {
    color: #d4213d;
}

.adress .social-btns {
    min-height: 140px;
    padding-top: 70px;
    padding-right: 20px;
}

.up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    text-decoration: none;
    overflow: hidden;
    width: 51px;
    height: 51px;
    background: url(../img/up.png) no-repeat left -51px;
}

.up:hover {
    background: url(../img/up.png) no-repeat left top;
}

.breadcrumbs-block {
    min-height: 20px;
    width: 100%;
    margin-bottom: 5px;
}

.breadcrumbs {
    margin-left: -10px;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumbs li {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs li::before {
    content: "»";
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumbs li:first-child::before {
    content: "";
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.feature-block {
    width: 23%;
    min-height: 240px;
}
/*Пятая страница Media*/

.main-gallery h3 {
    color: #000000;
    font-weight: 400;
}

.for-open {
    width: 100%;
    text-align: right;
    padding-right: 16px;
    font-weight: 400;
}

.dp-img {
    float: left;
    margin-right: 10px;
}

.dp-table {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    -webkit-transition: box-shadow 0.4s linear, -webkit-transform 0.4s linear;
    transition: box-shadow 0.4s linear, -webkit-transform 0.4s linear;
    -webkit-transition: -webkit-transform 0.4s linear, -webkit-box-shadow 0.4s linear;
    transition: -webkit-transform 0.4s linear, -webkit-box-shadow 0.4s linear;
    transition: transform 0.4s linear, box-shadow 0.4s linear;
    transition: transform 0.4s linear, box-shadow 0.4s linear, -webkit-transform 0.4s linear, -webkit-box-shadow 0.4s linear;
    transition: transform 0.4s linear, box-shadow 0.4s linear, -webkit-transform 0.4s linear;
}

.dp-table:hover {
    -webkit-transform: translateX(-105px) scale(2);
    transform: translateX(-105px) scale(2);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.btn-more {
    text-align: right;
}

.partners {
    font-size: 18px;
    margin-bottom: 20px;
}

.partners p {
    margin-bottom: 0;
}

.partners a {
    font-size: 16px;
    font-weight: 400;
}

.event-item {
    margin-bottom: 20px;
}

.partner-links {
    font-size: 18px;
    font-weight: 400;
}

.partner-links h3 {
    font-weight: 300;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 20px;
}

blockquote {
    text-align: right;
    font-style: italic;
}

cite {
    text-align: right;
}

.p-fat {
    font-weight: 400;
}

.error {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.reward {
    padding: 7px 17px;
}

.reward-block {
    display: inline-block;
    width: 163px;
    padding: 16px;
    text-align: center;
}

.reward-image {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    -webkit-transition: box-shadow 0.4s linear, -webkit-transform 0.4s linear;
    transition: box-shadow 0.4s linear, -webkit-transform 0.4s linear;
    -webkit-transition: -webkit-transform 0.4s linear, -webkit-box-shadow 0.4s linear;
    transition: -webkit-transform 0.4s linear, -webkit-box-shadow 0.4s linear;
    transition: transform 0.4s linear, box-shadow 0.4s linear;
    transition: transform 0.4s linear, box-shadow 0.4s linear, -webkit-transform 0.4s linear, -webkit-box-shadow 0.4s linear;
    transition: transform 0.4s linear, box-shadow 0.4s linear, -webkit-transform 0.4s linear;
}

.reward-block:hover .reward-image {
    -webkit-transform: scale(2.5) translateY(-15px);
    transform: scale(2.5) translateY(-15px);
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, .4);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .4);
}

.reward-block:nth-child(7n+1):hover .reward-image {
    -webkit-transform: scale(2.5) translateX(20px) translateY(-15px);
    transform: scale(2.5) translateX(20px) translateY(-15px);
}

.reward-block:nth-child(7n):hover .reward-image {
    -webkit-transform: scale(2.5) translateX(-20px) translateY(-15px);
    transform: scale(2.5) translateX(-20px) translateY(-15px);
}
/*Кадры анимации Снег*/
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

body {
	background-image: url("../img/snow.png"), url("../img/snow3.png"), url("../img/snow2.png");
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}
/*Галерея*/

.fotorama-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 480px;
    margin-top: 16px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 110px, rgba(0, 0, 0, 0.2) 1090px, rgba(0, 0, 0, 0) 100%);
    border-top: 1px solid #ff0000;
}

.main-gallery {
    margin-bottom: 16px;
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
    overflow: auto;
}

.gal-item {
    display: block;
    width: 25%;
    padding: 16px;
}

.gal-item img {
    height: 173px;
    max-width: 100%;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
}
/*Поиск*/

.search {
    font-size: 0;
}

.search input {
    display: inline-block;
    font-size: 16px;
}

.search .search-btn {
    width: 40px;
    height: 40px;
    color: transparent;
    border: none;
    background: transparent url("../img/lupa.svg") no-repeat;
}

.search-btn:hover {
    background-color: #dcdcdc;
}

.search-btn:active {
    background-color: #cb0404;
}

.search-btn:focus {
    outline: 2px solid #cb0404;
}
