* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #dcdcdc;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dcdcdc;
}

a {
    text-decoration: none;
    color: #d4213d;
}

a:hover {
    color: #000000;
}

.contacts p {
    font-size: 24px;
    color: #000000;
    margin: 0;
}

.contacts p:last-of-type {
    font-size: 19px;
    color: #d4213d;
    margin-top: 8px;
}

.head-up {
    display: flex;
    justify-content: space-between;
}

.contacts {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    text-align: right;
}

.logo {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-nav {
    background-color: #ff0000;
    min-height: 60px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #000000;
}

.main-nav ul {
    display: flex;
    justify-content: flex-start;
	flex-wrap: wrap;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.main-nav a {
	display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
}

.main-nav li:hover > a {
	background-color: #d4213d;
    color: #dcdcdc;
}

.main-nav li a:active {
	background-color: #ab1c31;
    color: #b8afaf;
}

.main-nav .menu-about-us {
	position: relative;
}

.menu-about-us .drop-menu {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	background-color: #d4213d;
	color: #dcdcdc;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.menu-about-us:hover .drop-menu {
	display: block;
}

.drop-menu li {
	width: 100%;
}

.drop-menu a {
	display: inline-block;
	line-height: 20px;
	height: 100%;
	width: 100%;
	padding: 10px 15px;
	text-align: left;
	font-size: 15px;
	white-space: nowrap;
}

.drop-menu li:hover a {
	color: #ffffff;
	background-color: #ff0000;
}

.drop-menu li a:active {
	background-color: #ab1c31;
    color: #b8afaf;
}

.search-block {
	padding: 10px 50px 10px 10px;
}

.search {
	position: relative;
}

.main-nav input[type="search"] {
	height: 40px;
    border: none;
    padding: 1px 12px;
    min-width: 200px;
}

.search input[type=search]:focus {
	outline: none;
}

.search::before {
	content: "";
	position: absolute;
	top: 0;
	right: -40px;
	width: 40px;
    height: 40px;
	background: url("../img/lupa.png") no-repeat;
}

.search:hover::before {
	background-color: #d4213d;
}

.map {
    background-image: url("../img/map.png");
    width: 1200px;
    height: 300px;
    border-top: 3px solid #ff0000;
}

.map-contacts {
    background-image: url("../img/map-contacts.png");
    width: 1200px;
    height: 720px;
    border-top: 3px solid #ff0000;
}

.slider {
    width: 100%;
    height: 350px;
    margin-bottom: 24px;
	animation-name: slider;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-fill-mode: backwards;
	transition: background 0.5s ease;
}

@keyframes slider {
	0% {
		background: url("../img/sli1.jpg") no-repeat;
	}
	33% {
		background: url("../img/sli2.jpg") no-repeat;
	}
	66% {
		background: url("../img/sli3.jpg") no-repeat;
	}
	100% {
		background: url("../img/sli1.jpg") no-repeat;
	}
}

hr {
    border: none;
    background-color: #ff0000;
    height: 1px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.info-block {
    width: 48%;
    line-height: 20px;
}

h2 {
    font-weight: 300;
}

.info-block .sign {
    margin-left: 60%;
}

.news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news-block {
    width: 23%;
    min-height: 240px;
}

.contact-us {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ff0000;
}

.contact-block {
    width: 33.3%;
    min-height: 140px;
}

.main-adress {
    min-height: 140px;
    padding-top: 10px;
    line-height: 30px;
    padding-left: 20px;
}

.main-phones {
    min-height: 140px;
    padding-top: 12px;
}

.main-phones p:last-of-type {
    color: #d4213d;
}

.social-btns {
    min-height: 140px;
    padding-top: 47px;
    padding-right: 20px;
}

.main-footer {
    display: flex;
    width: 100%;
    height: 69px;
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
}

.footer-left {
    border: 1px solid #000000;
    margin: 6px 3px 3px 150px;
}

.footer-right {
    margin: 8px 150px 0 3px;
}

.footer-right img{
    border: 1px solid #000000;
}

.copyright {
    padding: 10px ;
    font-size: 14px;
    margin: auto;
}

.adress {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.adress .main-adress {
    min-height: 140px;
    line-height: 30px;
    padding-left: 20px;
}

.adress h2 {
    line-height: 30px;
    color: #d4213d;
}

.adress .main-phones {
    min-height: 140px;
    line-height: 16px;
}

.adress .main-phones p:last-of-type {
    color: #d4213d;
}

.adress .social-btns {
    min-height: 140px;
    padding-top: 70px;
    padding-right: 20px;
}

.up {
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 51px;
    height: 51px;
    background: url(../img/up.png) no-repeat left top;
}

.up-hover {
    background: url(../img/up.png) no-repeat left -102px;
    width: 51px;
    height: 51px;
    display: block;
    overflow: hidden;
    float: left;
}
